<!--
@Author: Tushar Agarwal <Tushar>
@Date:   2016-12-30T00:20:14+05:30
@Email:  tamyworld@gmail.com
@Filename: app.component.html
@Last modified by:   Tushar
@Last modified time: 2016-12-30T01:09:13+05:30
-->

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <simple-form></simple-form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <complex-form></complex-form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form-validation></form-validation>
    </div>
  </div>
</div>
